.root{
    width: .8rem;
    height: .34rem;
    background-color: #000;
    font-size: .16rem;
    font-family: Helvetica, Helvetica-Regular, sans-serif;
    font-weight: 600;
    color: #fff;
    line-height: .34rem;
    text-align: center;
    border-radius: .34rem 0 0 .34rem;
    cursor: pointer;
}