.root{
    font-size: 14px;
    text-align: center;
    background-color: #333;
    padding: 10px;
    color: #f0f0f0;
    button{
        padding: 4px 10px;
        color: #222;
        margin-bottom: 10px;
    }
}