.title{
    box-sizing: border-box;
    padding: .24rem .28rem;

    flex: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &.noPL{
        padding-left: 0;
    }
    &>span{
        &:first-child{
            font-size: .24rem;
            font-family: HindMadurai, HindMadurai-Bold, sans-serif;
            font-weight: bold;
            color: #333333;
        }
        &.more{
            font-size: .16rem;
            font-family: HindMadurai, HindMadurai-Medium, sans-serif;
            font-weight: 500;
            text-align: left;
            color: #7a7e8d;
            cursor: pointer;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}