.root{
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 100%;
    border-radius: .2rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.title{
    box-sizing: border-box;
    padding: .24rem .28rem;

    flex: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &>span{
        &:first-child{
            font-size: .24rem;
            font-family: HindMadurai, HindMadurai-Bold, sans-serif;
            font-weight: bold;
            color: #333333;
        }
        &:nth-child(2){
            font-size: .16rem;
            font-family: Helvetica, Helvetica-Regular, sans-serif;
            font-weight: 400;
            text-decoration: underline;
            color: #333333;
        }
    }
}
.titleMini{
    padding: .12rem .28rem;
    font-size: .18rem;
    font-family: HindMadurai, HindMadurai-Bold, sans-serif;
    font-weight: bold;
    color: #333333;
    margin-top: -.67rem;
}

.list{
    flex: auto;
    padding: 0 .24rem;
    box-sizing: border-box;
    height: 100px;
    .swiper{
        height: 100%;
    }
    .slide{
        height: auto;
    }
}