.root{
    position: relative;
     background-color: #fff;
     border-radius: .2rem;
     overflow: hidden;
     grid-area: applist;
 }
 
 .slide{
     width: auto;
 }

 .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1.28rem;
    .head{
        width: .64rem;
        height: .64rem;
        border-radius: .64rem;
        object-fit: cover;
        margin-bottom: .08rem;
    }
    .name{
        font-size: .16rem;
        font-family: HindMadurai, HindMadurai-Medium, sans-serif;
        font-weight: 500;
        color: #333333;
        color: #333;
        overflow: hidden;
    }
 }