.root{
    position: relative;
    width: 3.2rem;
    background-color: #fff;
    border-radius: .16rem;
    margin: 0 auto;
    min-height: 3.32rem;
    box-sizing: border-box;
    padding: .24rem;
    pointer-events: auto;
    .title{
        font-size: .24rem;
        font-family: HindMadurai, HindMadurai-SemiBold, sans-serif;
        font-weight: 600;
        color: #333333;
    }
    .info{
        font-size: .16rem;
        font-family: HindMadurai, HindMadurai-Regular, sans-serif;
        font-weight: 400;
        color: #7a7e8d;
        margin-top: .06rem;
    }
    .control{
        margin-top: .3rem;
        .btnSubmit{
            height: .4rem;
            background: #000000;
            border: 1px solid #121212;
            border-radius: .2rem;
            font-size: .16rem;
            font-family: HindMadurai, HindMadurai-SemiBold, sans-serif;
            font-weight: 600;
            color: #ffffff;
            text-align: center;
            line-height: .4rem;
            cursor: pointer;
        }
        .btnCancel{
            height: .4rem;
            background: #fff;
            border: 1px solid #121212;
            border-radius: .2rem;
            font-size: .16rem;
            font-family: HindMadurai, HindMadurai-SemiBold, sans-serif;
            font-weight: 600;
            color: #121212;
            text-align: center;
            line-height: .4rem;
            cursor: pointer;
            margin-top: .12rem;
        }
    }
}
@media screen and (max-width: 750px) {
    .root{
        width: 96%;
        min-height: 2rem;
        .title{
            font-size: .2rem;
        }
        .info{
            font-size: .14rem;
        }
        .control{
            margin-top: .15rem;
        }
    }
}