.root{
    display: flex;
    align-items: center;
    width: 100%;
    padding: .5rem .24rem;
    box-sizing: border-box;

}

.step{
    position: relative;
    height: .16rem;
    flex: 1;
    &:last-child{
        flex:none;
        width: .16rem;
    }
}

.box{
    position: relative;
    width: .16rem;
    height: .16rem;
    .tip{
        position: absolute;
        top: -.32rem;
        font-size: .17rem;
        font-family: HindMadurai, HindMadurai-Bold, sans-serif;
        font-weight: 700;
        color: #333333;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .step0{
        width: .16rem;
        height: .16rem;
        border-radius: .16rem;
        border: solid 1px #121212;
        background-color: #fff;
    }
    .step1{
        width: .16rem;
        height: .16rem;
        border-radius: .16rem;
        border: solid 1px #121212;
        background-color: #121212;
    }
    
    .stepIcon{
        width: .32rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        z-index: 2;
    }
    .words{
        position: absolute;
        bottom: -.64rem;
        width: 1.4rem;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        font-size: .14rem;
        color: #333333;
        &.chose{
            font-weight: bold;
        }
    }
}



.line{
    position: absolute;
    height: .02rem;
    background-color: #121212;
    width: calc(100%);
    top:50%;
    transform: translateY(-50%);
}