
@keyframes ani-move {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-10px);
    }
}


@keyframes ani-move-addone {
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    100%{
        transform: translateY(-15px);
        opacity: 0;
    }
}

.root{
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 100%;
    border-radius: .2rem;
    overflow: hidden;
    background-image: url("/static/nff/backpic.jpg");
    background-size: 100% 100%;
    &::before{
        content: "";
        position: absolute;
        bottom:0;
        left:0;
        width: 100%;
        height: 3rem;
        opacity: 0.58;
        background: linear-gradient(182deg,rgba(235,255,248,0.00) 10%, #bbfff8 99%);
    }
    .title{
        box-sizing: border-box;
        padding: .24rem .28rem;
        font-size: .24rem;
        font-family: HindMadurai, HindMadurai-Bold, sans-serif;
        font-weight: bold;
        color: #fff;
        flex: none;
    }
}

.box{
    position: relative;
    z-index: 2;
    margin: 0 auto;
    width: 5.51rem;
    .photo{
        width: 2.37rem;
        height: 2.37rem;
        position: absolute;
        top: .24rem;
        left: .2rem;
        border-radius: .08rem;
        overflow: hidden;
        &>img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    .light{
        width: 100%;
    }
    .pic{
        position: absolute;
        top: .8rem;
        left: 50%;
        transform: translateX(-50%);
        width: 1.8rem;
        height: 1.8rem;
        background-color: #ccc;
    }

    .pass{
        position: relative;
        pointer-events: none;

        .addOne{
            position: absolute;
            top: .3rem;
            width: .1rem;
            text-align: center;
            left: 50%;
            margin-left: -.05rem;
            opacity: 0;
            color:deepskyblue;
            &.animate{
                animation: ani-move-addone 1s linear 0s 1;
            }
        }
        .passIn{
            position: relative;
            transition: opacity 300ms, margin-top 300ms;
             opacity: 0;
            margin-top: -.3rem;
        }
        &.show{
           pointer-events: auto;
           .passIn{
                opacity: 1;
                margin-top: 0;
           }
        }
    }

    .p24{
        position: absolute;
        top: 0;
        left: 2.74rem;
        width: 1.7rem;
        cursor: pointer;
        .passIn{
            animation: ani-move 2s ease-in-out 0s infinite alternate both;
        }
        
        img{
            width: 100%;
        }
        .word{
            position: absolute;
            top: 51%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            line-height: .14rem;
            &>span{
                color: #ffffff;
                &:first-child{
                    font-size: .18rem;
                    font-family: HindMadurai, HindMadurai-SemiBold, sans-serif;
                    font-weight: 500;
                }
                &:last-child{
                    font-size: .12rem;
                    font-family: HindMadurai, HindMadurai-Medium, sans-serif;
                    font-weight: 500;
                }
            }
        }
    }
    .p88{
        position: absolute;
        top: 1.14rem;
        left: 2.64rem;
        width: 1.88rem;
        cursor: pointer;
        .passIn{
            animation: ani-move 2.2s ease-in-out 0.4s infinite alternate both;
        }
        
        img{
            width: 100%;
        }
        .word{
            position: absolute;
            top: 51%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            line-height: .16rem;
            &>span{
                color: #ffffff;
                &:first-child{
                    font-size: .22rem;
                    font-family: HindMadurai, HindMadurai-SemiBold, sans-serif;
                    font-weight: 500;
                }
                &:last-child{
                    font-size: .14rem;
                    font-family: HindMadurai, HindMadurai-Medium, sans-serif;
                    font-weight: 500;
                }
            }
        }
    }

    .p10{
        position: absolute;
        top: .84rem;
        left: 3.91rem;
        width: 1.54rem;
        cursor: pointer;
        .passIn{
            animation: ani-move 1.8s ease-in-out 0.8s infinite alternate both;
        }
       
        img{
            width: 100%;
        }
        .word{
            position: absolute;
            top: 51%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            line-height: .14rem;
            &>span{
                color: #ffffff;
                &:first-child{
                    font-size: .16rem;
                    font-family: HindMadurai, HindMadurai-SemiBold, sans-serif;
                    font-weight: 500;
                }
                &:last-child{
                    font-size: .1rem;
                    font-family: HindMadurai, HindMadurai-Medium, sans-serif;
                    font-weight: 500;
                }
            }
        }
    }
}